/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'Kallisto_nf'
    author           = 'Merlin Szymanski'
    homePage         = ''
    description      = 'Run Kallisto on a folder of BAM-files to detect mtDNA mixtures'
    nextflowVersion  = '>=22.10'
    version          = 'v0.4'
}

cleanup = true
nextflow.enable.moduleBinaries = true

params{
    // file input and output
    split     = ""  // a folder with bam files
    outdir    = ""
    
    // convert fastq and trim
    trim      = 3
    maxlen    = 150

    // bowtie-prefiltering
    bt2_db    = ""  // the folder with the bowtie-index for pre-filtering
    bt2_name  = ""  // the name of the bowtie2-index (family name, lowercase)

    // kallisto quantification
    database  = ""  // a folder with the Kallisto database, Zavala2021-version provided in assets
    labels    = ""
    
    // plotting
    kallisto_mask = 25
}

singularity {
  autoMounts = true
  enabled    = true
  runOptions = "-B /tmp,/mnt"
}


process {
    withName: "SAMTOOLS_VIEW" {
        ext.args = [
            "--expr", "\"length(seq) <= ${params.maxlen}\""
        ].join(" ")
    }

    withName:"KALLISTO_QUANT" {
        publishDir = [
            path: { "${params.outdir}/out/${meta.id}/" },
            mode: "copy",
            pattern: "*"
        ]
    }
    withName:"SUMMARIZE_KALLISTO" {
        publishDir = [
            path: { "${launchDir}/${params.outdir}" },
            mode: "copy",
            pattern: "*"
        ]
    }
}

includeConfig "conf/profiles.config"
