/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'Kallisto_nf'
    author           = 'Merlin Szymanski'
    homePage         = ''
    description      = 'Run Kallisto on a folder of BAM-files for hominin mtDNA analysis'
    nextflowVersion  = '>=22.10'
    version          = 'v0.2'
}

cleanup = true
nextflow.enable.moduleBinaries = true

params{
    // file input 
    split     = ""                                             // a folder with bam files
    database  = "${projectDir}/assets/kallisto_index_k21.idx"  // a folder with the Kallisto database, Zavala2021-version provided in assets
    labels    = "${projectDir}/assets/labels.tsv"
}

singularity {
  autoMounts = true
  enabled    = true
  runOptions = "-B /tmp,/mnt"
}


process {
    withName:"KALLISTO_QUANT" {
        publishDir = [
            path: { "out/${meta.id}/" },
            mode: "copy",
            pattern: "*"
        ]
    }
    withName:"SUMMARIZE_KALLISTO" {
        publishDir = [
            path: { "${launchDir}" },
            mode: "copy",
            pattern: "*"
        ]
    }
}

includeConfig "conf/profiles.config"
