profiles {
    debug{
        cleanup = false
    }
    Hominidae {
        params.database  = "${projectDir}/assets/Hominidae/kallisto_index_k21.idx"  // a folder with the Kallisto database, Zavala2021-version provided in assets
        params.labels    = "${projectDir}/assets/Hominidae/labels.tsv"
    }
    Hyaenidae {
        params.database  = "${projectDir}/assets/Hyaenidae/Hyaenidae_k21.idx"
        params.labels    = "${projectDir}/assets/Hyaenidae/labels.tsv"
    }
    Ursidae {
        params.database  = "${projectDir}/assets/Ursidae/Ursidae_k21.idx"
        params.labels    = "${projectDir}/assets/Ursidae/labels.tsv"
    }
    Cervidae {
        params.database  = "${projectDir}/assets/Cervidae/Cervidae_k21.idx"
        params.labels    = "${projectDir}/assets/Cervidae/labels.tsv"
    }
    Ovis {
        params.database  = "${projectDir}/assets/Ovis/Ovis_k21.idx"
        params.labels    = "${projectDir}/assets/Ovis/labels.tsv"
    }
}
