profiles {
    debug{
        cleanup = false
    }
    Hominidae {
        params.database  = "${projectDir}/assets/Hominidae/Hominidae_k21.idx"  // a folder with the Kallisto database, Zavala2021-version provided in assets
        params.labels    = "${projectDir}/assets/Hominidae/labels.tsv"
        params.outdir    = "out_kallisto_hominidae"
        params.bt2_db    = "${projectDir}/assets/Hominidae/bowtie_index/"
        params.bt2_name  = "hominidae"
    }
    Hyaenidae {
        params.database  = "${projectDir}/assets/Hyaenidae/Hyaenidae_k21.idx"
        params.labels    = "${projectDir}/assets/Hyaenidae/labels.tsv"
        params.outdir    = "out_kallisto_hyaenidae"
        params.bt2_db    = "${projectDir}/assets/Hyaenidae/bowtie_index/"
        params.bt2_name  = "hyaenidae"
    }
    Ursidae {
        params.database  = "${projectDir}/assets/Ursidae/Ursidae_k21.idx"
        params.labels    = "${projectDir}/assets/Ursidae/labels.tsv"
        params.outdir    = "out_kallisto_ursidae"
        params.bt2_db    = "${projectDir}/assets/Ursidae/bowtie_index/"
        params.bt2_name  = "ursidae"
    }
    Cervidae {
        params.database  = "${projectDir}/assets/Cervidae/Cervidae_k21.idx"
        params.labels    = "${projectDir}/assets/Cervidae/labels.tsv"
        params.outdir    = "out_kallisto_cervidae"
        params.bt2_db    = "${projectDir}/assets/Cervidae/bowtie_index/"
        params.bt2_name  = "cervidae"
    }
    Elephantidae {
        params.database  = "${projectDir}/assets/Elephantidae/Elephantidae_k21.idx"
        params.labels    = "${projectDir}/assets/Elephantidae/labels.tsv"
        params.outdir    = "out_kallisto_elephantidae"
        params.bt2_db    = "${projectDir}/assets/Elephantidae/bowtie_index/"
        params.bt2_name  = "elephantidae"
    }
    Rhinocerotidae {
        params.database  = "${projectDir}/assets/Rhinocerotidae/Rhinocerotidae_k21.idx"
        params.labels    = "${projectDir}/assets/Rhinocerotidae/labels.tsv"
        params.outdir    = "out_kallisto_rhinocerotidae"
        params.bt2_db    = "${projectDir}/assets/Rhinocerotidae/bowtie_index/"
        params.bt2_name  = "rhinocerotidae"
    }
    Canidae {
        params.database  = "${projectDir}/assets/Canidae/Canidae_k21.idx"
        params.labels    = "${projectDir}/assets/Canidae/labels.tsv"
        params.outdir    = "out_kallisto_canidae"
        params.bt2_db    = "${projectDir}/assets/Canidae/bowtie_index/"
        params.bt2_name  = "canidae"
    }
    Equidae {
        params.database  = "${projectDir}/assets/Equidae/Equidae_k21.idx"
        params.labels    = "${projectDir}/assets/Equidae/labels.tsv"
        params.outdir    = "out_kallisto_equidae"
        params.bt2_db    = "${projectDir}/assets/Equidae/bowtie_index/"
        params.bt2_name  = "equidae"
    }
    Bovidae {
        params.database  = "${projectDir}/assets/Bovidae/Bovidae_k21.idx"
        params.labels    = "${projectDir}/assets/Bovidae/labels.tsv"
        params.outdir    = "out_kallisto_bovidae"
        params.bt2_db    = "${projectDir}/assets/Bovidae/bowtie_index/"
        params.bt2_name  = "bovidae"
    }
    Felidae {
        params.database  = "${projectDir}/assets/Felidae/Felidae_k21.idx"
        params.labels    = "${projectDir}/assets/Felidae/labels.tsv"
        params.outdir    = "out_kallisto_felidae"
        params.bt2_db    = "${projectDir}/assets/Felidae/bowtie_index/"
        params.bt2_name  = "felidae"
    }
}
